/* You can add global styles to this file, and also import other style files */

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

app-root {
  display: flex;
  flex-direction: row;
}

app-ingredients-selected {
  position: fixed;
  right: 0;
  height: 100%;
  width: 380px;
}
